* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monsteratt", sans-serif;;
}

.app {
    background-image: url("./assets//images/ph-img1.jpg");
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease-out;
}

.app .warm {
    background-image: url("./assets/images/ph-img2.jpg");
}

main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    min-height: 100vh;
    padding: 25px;
}

.search-box {
    margin: 0 0 75px;
    width: 100%;
}

.search-box .search-bar {
    appearance: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: #111820;
    display: block;
    margin-top: -25px;
    padding: 15px;
    outline: none;
    transition: 0.4s ease;
    width: 100%;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
    color: #eee;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
    color: #eee;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    color: #eee;
    display: inline-block;
    font-size: 102px;
    font-weight: 900;
    margin: 30px auto;
    padding: 15px 25px;
    position: relative;
    text-align: center;
    text-shadow: 3px 6px rgb(50, 50, 50, 0.5);
}

.weather-box .weather {
    color: #eee;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
}